# Ignore build and cache files
/build
/.gradle
/.idea
/local.properties
/.cxx
/captures
/.externalNativeBuild
/.settings
/app/google-services.json
/secrets.properties
*.iml

# Ignore generated APKs & logs
*.apk
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db
